*, *::before, *::after {
	box-sizing: border-box;
}

@media (orientation: landscape) {
  .split {
    display: flex;
  }
  
  .split img {
    width: 50%;
    margin: 1%;
    border-radius: 1em;
  }
  
  .split div {
    border-radius: 1em;
  }

  .homepage {
    width: calc(100vw - 11px);
    height: 100vh;
    right: calc((100vw - 800px + 10px) / 2);
    top: calc((-20px));
  }
  
  .searchbar {
    width: 40%;
  }
}

@media (orientation: portrait) {
  .split {
    display: block;
  }

  .split img {
    width: 100%;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 1em;
  }
  
  .split div {
    width: 100%;
  }

  .shortcut {
    visibility: hidden;
  }
  
  .homepage {
    width: calc(100vw - 11px);
    height: 100vh;
    right: 10px;
    top: -20px;
  }

  .searchbar {
    width: 80%;
  }
}

html {
  scroll-behavior: smooth;
}

.homepage {
  position: relative;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

table {
	table-layout: auto;
}


.m1 {
  color: #EF1C24;
}
 
.m2 {
  color: #009943;
}
 
.m3 {
  color: #00A9E2;
}
 
.m4 {
  color: #E91977;
}
 
.m5 {
  color: #672C65;
}
 
.m6 {
  color: #C9AB78;
}
 
.m7 {
  color: #F29FC0;
}

.m8 {
  color: #427BBF;
}
 
.m9 {
  color: #FFD400;
}
 
.m10 {
  color: #4CAA3C;
}
 
.m11 {
  color: #AC5391;
}
 
.m12 {
	color: #CAD300;
}
 
.m13 {
	color: #00A94F;
}
 
.m14 {
	color: #B16400;
}

.m34 {
  color: #376b8c;
}

.funi {
  color: #7B7256;
}

.cable {
  color: #65BBB1;
}
 
.t1 {
  color: #004788;
}

.t2 {
  color: #91ADA1;
}

.t3 {
  color: #9C5427;
}

.t4 {
  color: #FF803E;
}

.t5 {
  color: #7D73B4;
}

.b1 {
  color: #575754;
}
 
.b2 {
  color: #65656A;
}

.b3 {
  color: #E87D7D;
}




.progress-bar {
	position: relative;
	width: 100%;
	height: 1.5em;
	background-color: #f7f7f7;
	border-radius: 1.5em;
	color: white;
}

.progress-bar::before {
	content: attr(data-label);
	display: flex;
	align-items: center;
	position: absolute;
	left: .2em;
	top: .2em;
	bottom: .2em;
	width: calc(var(--width, 0) * 1%);
	min-width: .4rem;
	max-width: calc(100% - .4em);
	border-radius: 1em;
	padding: .5em;
}

.progress-bar.f4::before {
  background-color: #7B7256;
}

.progress-bar.t5::before {
  background-color: #7D73B4;
}

.progress-bar.m7::before {
  background-color: #F29FC0;
}

.progress-bar.m8::before {
  background-color: #427BBF;
}

.progress-bar.m9::before {
  background-color: #FFD400;
}

.progress-bar.m5::before {
  background-color: #672C65;
}

.progress-bar.m12::before {
  background-color: #CAD300;
}

.progress-bar.m4::before {
  background-color: #E91977;
}

.progress-bar.m1::before {
  background-color: #EF1C24;
}

.progress-bar.m13::before {
  background-color: #00A94F;
}
